[submodule "libs/glog"]
	path = libs/glog
	url = git@github.com:google/glog.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "libs/glfw"]
	path = libs/glfw
	url = git@github.com:glfw/glfw.git
[submodule "libs/imgui-filebrowser"]
	path = libs/imgui-filebrowser
	url = git@github.com:AirGuanZ/imgui-filebrowser.git
