[submodule "libs/GLEW"]
	path = libs/GLEW
	url = git@github.com:nigels-com/glew.git
[submodule "libs/libp7-baical"]
	path = libs/libp7-baical
	url = git@github.com:CMakePorts/libp7-baical.git
[submodule "libs/P7"]
	path = libs/P7
	url = git@github.com:CMakePorts/libp7-baical.git
[submodule "libs/glog"]
	path = libs/glog
	url = git@github.com:google/glog.git
[submodule "libs/imgui"]
	path = libs/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "libs/SFML"]
	path = libs/SFML
	url = git@github.com:SFML/SFML.git
[submodule "libs/SDL"]
	path = libs/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "libs/glfw"]
	path = libs/glfw
	url = git@github.com:glfw/glfw.git
[submodule "libs/glad"]
	path = libs/glad
	url = git@github.com:Dav1dde/glad.git
[submodule "libs/imgui-filebrowser"]
	path = libs/imgui-filebrowser
	url = git@github.com:AirGuanZ/imgui-filebrowser.git
